h1{
    background: linear-gradient(to right,#009739,#00852f);
    color: white;
    text-align: center;
    padding: 25px;
    margin-bottom: 35px;
    border-radius: 15px;
    font-size: 48px;
    box-shadow: 0 8px 20px rgba(0,0,0,.35);
    text-shadow: 2px 2px 5px black;
    animation: titulo 1s ease;
    transition: .4s;
}
p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background: linear-gradient(135deg, #009739, #25b94d, #f4f4f4);
    color: #222;
}
.jogadores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.jogador {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.jogador img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
}

.jogador p {
    margin: 8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.neymar-destaque {
  background-color: #fff;
  position: relative;
  border: 3px solid #FFD700;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  animation: pulse-glow 2s infinite;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 5px;

}

.neymar-destaque img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
}

.neymar-destaque::before {
  content: "⭐ CAMISA 10";
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFD700;
  color: #002776;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  white-space: nowrap;
  z-index: 3;
}
.neymar-destaque p{
    text-align: center;
     margin: 8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 215, 0, 1);
  }
}
footer{
    background: #002776;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    font-size: 20px;
}
header {
    background: yellow;
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

header nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

header nav a {
    text-decoration: none;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    color: black;
    font-family: cursive;
    border-radius: 10px;
    transition: 0.3s;
}

header nav a:hover {
    background: rgba(0,0,0,0.1);
    transform: translateY(-2px);
}